
@{
    ViewBag.Title = "About";
}

<h1 style="color:chocolate; font-family:'Bookman Old Style'">About</h1>

<body>
    We, Freddy Maidanik and Omri Avidan, the proud founders of this site, first discovered the taste of candies when we were 26 and 22 accordingly.
    <br />
    It was a rainy night when we first met, when we almost fought over the last candy at a corner store near our homes.
    <br />
    We took the last candy and split it between us and we took an oath: 'To never have only one candy in our store!'
    <br />
    <br />
    Thank you for coming to our site!
</body>

