@model CandyShop.Models.User

@{
    ViewBag.Title = "User";
}

<h2>User</h2>

<table>
    <tr>
        <td>User First Name</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>User Last Name</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>User ID</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>User Password</td>
        <td>@Model.Password</td>
    </tr>
</table>