@model CandyShop.Models.DelieveryVM
@using CandyShop.Models

@{
    ViewBag.Title = "Delete Delieveries";
}
@*This is the view that we use to delete a delivery from the system*@
<h1 style="color:chocolate; font-family:'Bookman Old Style'">Delete Delievery</h1>
<div>
    <form action="DeleteDelievery" method="post">
        <input class="form-control" style="font-family:Elephant" id="Text1" name="DelieveryID" type="text" placeholder="Enter Delievery ID to search" />
        <input class="btn btn-warning" style="font-family:Elephant" id="Submit1" type="submit" value="Delete Delieveries" />
    </form>
    @*if the delivery doesn't exist we will show a popup and will not delete*@
    @if (ViewBag.TheResult == true)
    { <div class="alert alert-warning fade in collapse" role="alert" id="DelieveryIDexists" data-dismiss="alert">
        <button id="bnewOrder" type="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Oh No!</strong> We don't have a delievery with this id!
    </div>
    }
</div>
