@model CandyShop.Models.OrderVM
@using CandyShop.Models

@{
    ViewBag.Title = "Orders";
}
<h1 style="color:chocolate; font-family:'Helvetica Neue'; text-align: center; font-weight:bold; font-size: 120px;">List of your orders</h1>
<link href="~/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<br />
<style type="text/css">
    tr {
        background-color: burlywood;
    }

    th {
        background-color: brown;
    }

    .mainpanel {
        margin-left: 200px;
        min-height: 500px;
        padding: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .info th a {
        color: black;
        font-weight: bolder;
    }
</style>

@*here is where we set a webgrid object for showing the model*@
@{

    WebGrid obj = new WebGrid(Model.Orders);
}


@obj.GetHtml(
    htmlAttributes: new
    {
        id = "col-md-6"
    },
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",
    columns: obj.Columns(
        obj.Column("OrderName", "Order Name"),
        obj.Column("OrderAmount", "Order Amount")
        )
 )
